body {background-color: #003355;}

body {
  color: #cbcbcb;
}

a {
  color: #dddddd;
}
td.t1 { 
 background-image:url("file://disk/Browser/Games/GamesShadowLogo4.jpg"); 
 }
td.t2 { 
 background-image:url("file://disk/Browser/Games/cSetupShadowLogo-b.jpg"); 
 }