body {background-color: #003355;}

body {
  color: #cbcbcb;
}

a {
  color: #dddddd;
}
td.t1 { 
 background-image:url("../../GamesShadowLogo4.jpg"); 
 }
td.t2 { 
 background-image:url("../../cSetupShadowLogo-b.jpg"); 
 }