body {background-color: #191919;}

body {
  color: #cbcbcb;
}

a {
  color: aaaaaa;
}
td.t1 { 
 background-image:url("../../GamesShadowLogo2.jpg"); 
 }
td.t2 { 
 background-image:url("../../cSetupShadowLogo-d.jpg"); 
 }